body {
  font-family: "Montserrat";
  background-color: #8186d5;
}

/* HEADINGS */
.purple-subheading {
  color: #494ca2;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 1.2rem 0;
}

.subheading {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0 0 1rem;
}

.carousel-title {
  font-weight: 500;
  font-size: 1.5rem;
}

.fee-title {
  font-weight: 500;
  font-size: 1.5rem;
}

.event-title {
  font-weight: 500;
  font-size: 1.2rem;
}

.pool-name {
  font-weight: 500;
  font-size: 1.2rem;
}

.session-title {
  font-weight: 500;
  font-size: 1.2rem;
}

.news-title {
  font-weight: 500;
  font-size: 1.2rem;
}

.small-heading {
  font-weight: 500;
  font-size: 1rem;
}

.purple-link {
  color: #494ca2;
}

/* BACKGROUND COLOURS*/
.purple {
  background-color: #8186d5;
  padding: 3% 7%;
}

.silver {
  background-color: #e3e7f1;
  padding: 3% 7%;
}

/* BMSC LOGO */
.BMSC-logo {
  height: 100px
}

/* // Hide short text by default (resolution > 750px) */
.short-text {
  display: none;
}

/* // When resolution <= 750px, hide full text and show short text */
@media (max-width: 750px) {
  .short-text {
    display: inline-block;
    font-size: 1.5rem
  }

  .full-text {
    display: none;
  }

  .BMSC-logo {
    height: 75px
  }
}

.container-fluid {
  padding: 3% 7%;
}

/* Navigation bar */
.purple-nav {
  background-color: #8186d5;
}

.navbar {
  padding: 0 0 2rem;
}

.navbar-brand {
  font-family: "oswald";
  font-size: 2rem;
  font-weight: 600;
  padding: 0 12px;
  color: #e3e7f1;
}

.nav-item {
  padding: 0 12px;
}

.nav-link {
  font-size: 0.8rem;
  font-weight: 200;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* BUTTONS */
.about-us-button {
  margin: 5% 3% 5% 0;
}

.more-details-button {
  margin: 0 3% 5% 0;
}

/* Main page message */
.index-new{
  color: #494CA2;
  background-color: #e3e7f1;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

/* Title image */
.title-image {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  width: 80%;
}

.about-us {
  margin: 2.5rem 0 0;
}

/* Events section */
#events {
  padding: 0;
}

.event-box {
  text-align: center;
  padding: 3%;
}

@media (max-width: 750px) {
  .event-box {
    padding: 3% 20%;
  }
}

.icon {
  color: #494ca2;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #8186d5;
}

/* CALENDAR */
.calendar {
  width: 315px;
  background: #c6cbef;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  margin: 20px auto 10px;
  box-shadow: 0 0 10px #201d1c;
}

.calendar-inner {
  padding: 0 10px 10px 10px;
}

.calendar-inner span {
  font-weight: 400;
  color: #494ca2;
  text-align: center;
  width: 40px;
  height: 40px;
  display: inline-block;
  float: left;
  overflow: hidden;
  line-height: 40px;
}

.calendar-title {
  font: 1.2rem;
  font-weight: 600;
  color: #494ca2;
  display: block;
  margin: 18px 0 0 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.calendar-inner .blank:before {
  opacity: 0.3;
  content: '-';
}

.circle {
  border: 2px solid #e3e7f1;
  /* box-sizing:border-box; */
  border-radius: 100%;
}

.circle-red {
  border: 2px solid #d92027;
  /* box-sizing:border-box; */
  border-radius: 100%;
}

.circle-orange {
  border: 2px solid #ff9234;
  /* box-sizing:border-box; */
  border-radius: 100%;
}

.circle-green {
  border: 2px solid #35d0ba;
  /* box-sizing:border-box; */
  border-radius: 100%;
}

span[data-title]:hover:after,
div[data-title]:hover:after {
  font-size: 12px;
  font-weight: 400;
  content: attr(data-title);
  position: absolute;
  background-color: #494ca2;
  border: 1px solid #e3e7f1;
  color: #e3e7f1;
  padding: 0 5px;
}

/* news */
#news-carousel {
  padding: 3% 15%;
  text-align: center;
}

.news-image {
  width: 40%;
  margin: 20px;
}

/* More details news button */
.mainpage-button3 {
  margin: 0 3% 3% 0;
}

/* Supported by */
.ptl-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* Footer */
.footer {
  color: #494ca2;
  text-align: center;
  padding: 2% 5%;
}

.footer:hover {
  color: #c6cbef;
  text-decoration: none;
}

#footer {
  text-align: center;
}

/* ----------------------ABOUT US----------------------- */
/* The gallery*/
.picture-gallery {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  width: 80%;
}

/* ----------------------POOL TIMES----------------------- */

.container-fluid-pt{
  padding: 0 0 1rem;
}

@media screen and (max-width: 991px) {

  /* start of large tablet styles */
  .ptlocation-box {
    min-width: 70%;
    padding: 3%;
  }
}

@media screen and (max-width: 767px) {

  /* start of medium tablet styles */
  /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
  .ptlocation-box {
    min-width: 30%;
    text-align: center;
    padding: 3%;
  }
}

@media screen and (max-width: 479px) {

  /* start of phone styles */
  /* It's possible to hide the image if the screen becomes too small */
  .ptlocation-box {
    min-width: 10%;
    text-align: center;
    padding: 3%;
  }
}


/* -------------------------OPENWATER----------------------- */
.openwater-img-venue {
  margin: 3% 15%;
  width: 150px;
  height: 75px;
  radius: 100%;
  background-color: #e3e7f1;
}

.container-fluid-ow{
  padding: 0 0 1rem;
}

@media screen and (max-width: 991px) {

  /* start of large tablet styles */
  .owlocation-box {
    min-width: 70%;
    padding: 3%;
  }
}

@media screen and (max-width: 767px) {

  /* start of medium tablet styles */
  /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
  .owlocation-box {
    min-width: 30%;
    text-align: center;
    padding: 3%;
  }
}

@media screen and (max-width: 479px) {

  /* start of phone styles */
  /* It's possible to hide the image if the screen becomes too small */
  .owlocation-box {
    min-width: 10%;
    text-align: center;
    padding: 3%;
  }
}

/* ----------------------------NEWs&SOCIALS------------------- */
.news-image2 {
  height: 120px;
  width: 120px;
  margin: 0;
}

/* ---------------------------JOINING&FEES--------------------- */
.fee-table {
  text-align: center;
}
